html
  head
    title= title
  body
    h1= message
    table
      thead
        tr
          th Name
          th Email
      tbody
        each contact in contacts.results
          tr
            td= contact.properties.firstname
            td= contact.properties.email
             table
      thead
        tr
          th Owner
          th Domain Name
      tbody
        each company in companies.results
          tr
            td= company.properties.owner
            td= company.properties.domain
